{% load static %}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'prob2.css'%}">
</head>
<body>
  <a href="{% url 'products:home' %}">главная</a>
  <p class="message">уже есть аккаунт? <a href="{% url 'users:log' %}">войдите в него</a></p>
    <div class="login-page">
        <div class="form">


         
          <form class="login-form"  action=" {% url 'users:reg' %}" method="post">
            {% csrf_token %} 

            {{form.as_p}}

            <button>login</button>

            <p class="message">Not registered? <a href="{% url 'users:reg' %}">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>










<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'reg.css'%}">
</head>
<body>
    <p class="message">уже есть аккаунт? <a href="{% url 'users:log' %}">войдите в него</a></p>
    <a href="{% url 'products:home' %}">главная</a>
    <p>если что кнопака регистрации невидимая внизу;)</p>
    <div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='subtitle'>We're almost done. Before using our services you need to create an account.</div>
      <div class='input-fields'>


        <form action="{% url 'users:reg' %}" method="post">
          {% csrf_token %}
        {{ form.first_name }}
        <input type='text' placeholder='ваше имя' class='input-line full-width'></input>
        {{ form.last_name }}
        <input type='text' placeholder='ваша фамилия' class='input-line full-width'></input>
        {{ form.username }}
        <input type='text' placeholder='Username' class='input-line full-width'></input>
        {{ form.password1 }}
        <input type='password' placeholder='Password' class='input-line full-width'></input>
        {{ form.password2 }}
        <input type='password' placeholder='Password' class='input-line full-width'></input>
        {{ form.email }}
        <input type='email' placeholder='ваша почта' class='input-line full-width'></input>
     


      </div>
      <div class='spacing'>or continue with <span class='highlight'>Facebook</span></div>
      <div><button class='planb '>Create Account</button></div>
    </form>
    </div>
  </div>
</div>

</body>
</html> -->